

p.desc {
    font-size: .9em;
}

/* 
   Use the following properties
   to fix the alignment and white
   space issues on the rulesets
   below this comment.
   
   margin, padding, text-align
   
*/

body {
    background: lightblue;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 5vh;
}

.card {
    background: white;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 7vh;
}

span {
    background: #71A6B8;
    height: 10vh;
    width: 100%;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    margin: 3vh 8vh;
    justify-content: flex-start;
    align-items: flex-start;
}

p.date {
    font-size: .7em;
    text-transform: uppercase;
}

h3 {
    margin: 2vh 0;
}

p.desc {
    font-size: 1em;
    margin-top: 0;
}